$unit: 10px;
$bg-color: #1c1a18;
$mobile-res: 600px;
$tablet-min-res: 601px;
$tablet-max-res: 820px;
$main-font-size: 12px;

@font-face {
    font-family: "Sinistre";
    src: url('~assets/fonts/Sinistre-S†Caroline.otf');
}

@font-face {
    font-family: "Roboto";
    src: url('~assets/fonts/RobotoMono-Regular.ttf');
}

html {
    font-family: Roboto;
    font-size: $main-font-size;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background-color: $bg-color;
    color: white;
    height:100%;
}

*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-width: 1px;
}

@media only screen and (max-width: $mobile-res) {
    html, h3, .text-body {
        font-size: 20px !important;
    }

    .grid {
        grid-template-columns: 1fr !important;
    }

    .post-card-container {
        grid-column: 1 !important;
    }

    .grid-item-c3{
        display: none;
    }
}

@media only screen and (min-width: $tablet-min-res) and (max-width: $tablet-max-res){
    .grid {
        grid-template-columns: 14vw 1fr !important;
        grid-auto-flow: row;
    }

    .grid-item-c3{
        display: none;
    }
}


body{
    height:100%;
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
}

.container{
    width:100%;
    height:100%;
}

a{
    color:white;
}

a:hover{
    color:grey;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 14vw 4fr 3fr;
    grid-template-rows: 1fr;
    height:100%;
    position: relative;
    grid-gap:$unit;
}

.main-grid{
    padding-top:200px;
    min-height:100%;
    max-height: auto;
    padding-left:$unit;
    padding-right:$unit;
}

.paper-bg {
    grid-column: 2;
    background-image: url('~/assets/images/paper-tex.jpg');
    background-size: 100% auto;
    grid-row:1;
    color: black;
    animation: 0.5s ease 0s 1 slideFromBottom;
}

@media only screen and (max-width: $mobile-res) {
    .paper-bg {
        grid-column: 1 !important;
    }
}

.grid-item-c3 {
    grid-column: 3;
}


.text-body{
    color: black;
    font-size: 16px;
    font-family: serif;
    line-height: 140%;

    a {
        color: black;
        text-decoration: underline;

        &:hover{
            color: rgb(71, 71, 71);
        }
    }
}

.drop-cap {
    > div:first-child:first-letter {
        float: left;
        font-family: Sinistre;
        font-size: 120px;
        line-height: 90px;
        padding-right: 4px;
        padding-bottom: 4px;
    }
    > p:first-child:first-letter {
        float: left;
        font-family: Sinistre;
        font-size: 120px;
        line-height: 90px;
        padding-right: 4px;
        padding-bottom: 4px;
    }
}

.button{
    text-transform: uppercase;
    width:auto;

    &:hover {
        color:black;
        background-color: white;
    }

    :hover {
        text-decoration:underline;
    }
}


.no-text{
    p {
        font-size: 0;
    }
    .wp-caption p {
        font-size: 16px;
        font-family: serif;
        font-style: italic;
    }
}

.no-images {
    .wp-caption {
        display:none;
    }
    img {
        display:none;
    }
}

@keyframes slideFromBottom {
    0% {
      transform: translateY(40%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}